.light {
  --primary-color: #fea400;
  --primary-hover-color: #fea50079;
  --accent-color: #e27000;
  --background-color: #eee;
  --background-form-color: #fff;
  --text-color: #2e2e2e;
}

.dark {
  --primary-color: #f29121 ;
  --background-color: #444444;
  --text-color: #dadada;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
